<GridLayout class="drawer-header">
</GridLayout>
<StackLayout class="drawer-links" orientation="vertical">
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/home']"
                 [nsRouterLinkActive]="'current'"
                 [nsRouterLinkDrawer]="drawerComponent">
        <Label class="fa" text="{{'fa-home' | fonticon}}"></Label>
        <Label class="text" text="Home"></Label>
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/settings']"
                 [nsRouterLinkActive]="'current'"
                 [nsRouterLinkDrawer]="drawerComponent">
        <Label class="fa" text="{{'fa-cogs' | fonticon}}"></Label>
        <Label class="text" text="Settings"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
</StackLayout>
