<ActionBar title="Todo List">
    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent (drawerOpening)="onDrawerOpening()">
    <template drawerSide>
        <ScrollView class="drawer-content">
            <StackLayout horizzontalAlign="left">
                <drawer-content [drawerComponent]="drawerComponent"></drawer-content>
            </StackLayout>
        </ScrollView>
    </template>
    <template drawerMain>
        <StackLayout>
            <todo-list></todo-list>
        </StackLayout>
    </template>
</RadSideDrawer>
