ActionBar {
    background-color: #4caf50;
    color: white;
}

.drawer-content {
    background-color: #eeeeee;
    color: black;
}

.drawer-content Label {
    font-size: 20pt;
    padding: 10pt 0 15pt 25pt;
    margin: 5pt 0;
}

.drawer-content Label.selected {
    background-color: #dddddd;
}
