.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

ActionBar {
  background-color: #4caf50;
  color: white;
}

.drawer-content {
  background-color: #eeeeee;
  color: black;

  .drawer-header {
    height: 150pt;
    background-color: #4caf50;
    margin-bottom: 10pt;
  }

  .drawer-links {

    .drawer-link {
      font-size: 15pt;
      padding: 10pt;

      .fa {
        font-size: 20pt;
        margin-right: 10pt;
      }

      .text {
        margin-left: 30pt;
      }
    }
    // nativescript doesn't support multi-class selectors .drawer-link.current
    .current {
      background-color: #dddddd;
    }
  }

  .drawer-separator {
    height: 1px;
    background-color: #dddddd;
    margin: 10px 0;
  }
}
