/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

ActionBar {
    background-color: #4caf50;
    color: white;
}

.drawer-content {
    background-color: #eeeeee;
    color: black;
}

.drawer-content .drawer-header {
    height: 150;
    background-color: #4caf50;
    margin-bottom: 7;
}

.drawer-content .drawer-links .drawer-link {
    font-size: 15;
    padding: 15;
}

.drawer-content .drawer-links .drawer-link .fa {
    font-size: 20;
    margin-right: 10;
}

.drawer-content .drawer-links .drawer-link .text {
    margin-left: 30;
}

.drawer-content .drawer-links .current {
    background-color: #dddddd;
}

.drawer-content .drawer-separator {
    height: 1;
    background-color: #dddddd;
    margin: 7 0;
}

.todo-next {
    padding: 20;
}

.todo-next > Button {
    font-size: 24;
}

.todo-next > Button.disabled {
    color: #999999;
}

.todo-filter {
    padding: 20;
}

.todo-filter > Label {
    text-align: center;
}

.todo-filter > Label.active {
    color: #19469D;
    font-weight: bold;
}

.todo-item {
    margin: 20 20 0 20;
    padding: 10;
    font-size: 20;
}

.todo-item .done {
    text-decoration: line-through;
}

.checkbox {
    width: 22;
    height: 22;
    margin: 0 10 0 0;
    horizontal-align: left;
}

@keyframes glow {
    0% {
        background-color: #eeeeee;
    }
    50% {
        background-color: #b7b7b7;
    }
    100% {
        background-color: #eeeeee;
    }
}

.anim {
    animation-name: glow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
