<ActionBar title="Home">
</ActionBar>
<RadSideDrawer #drawerComponent>
    <template drawerSide>
        <ScrollView class="drawer-content">
            <StackLayout horizzontalAlign="left">
                <drawer-content [drawerComponent]="drawerComponent"></drawer-content>
            </StackLayout>
        </ScrollView>
    </template>
    <template drawerMain>
        <StackLayout>
            <Label text="HOME"></Label>
            <Button text="Go to Settings" [nsRouterLink]="['/settings']" [nsRouterLinkDrawer]="drawerComponent"></Button>
        </StackLayout>
    </template>
</RadSideDrawer>
<drawer-content></drawer-content>
