<ActionBar title="Home">
    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent (drawerOpening)="onDrawerOpening()">
    <template drawerSide>
        <ScrollView class="drawer-content">
            <StackLayout horizzontalAlign="left">
                <drawer-content [drawerComponent]="drawerComponent"></drawer-content>
            </StackLayout>
        </ScrollView>
    </template>
    <template drawerMain>
        <StackLayout margin="20" ali>
            <Label class="fa" [text]="'fa-cogs' | fonticon" fontSize="30"></Label>
            <Button text="Go to Settings"
                    [nsRouterLink]="['/settings']"
                    [nsRouterLinkDrawer]="drawerComponent"></Button>
        </StackLayout>
    </template>
</RadSideDrawer>
