<ActionBar title="Home">
    <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent padding="40">
        <Label text="Home page of the application"></Label>
        <Label text="Meteor 1.8, TNS 6, Angular 8"></Label>
    </StackLayout>
</RadSideDrawer>
